body,
button {
  font-family: 'Dosis', sans-serif;
}

#app-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#create-input {
  width: 225px;
}

table {
  margin-top: 20px;
}

table th {
  width: 200px;
  font-size: 18px;
}

.todo-task {
  color: red;
  cursor: pointer;
}

.is-completed {
  color: #5dad4c;
}

.save-button {
  display: none;
}

.cancel-button {
  display: none;
}

.error-message {
  color: red;
  display: none;
  width: 231px;
  margin: auto;

}

td button {
  border: none;
  border-radius: 10px;

}

button:focus {outline:0 !important;}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button:active {
  transform: translateY(2px);
  color: white;
}
