body,
button {
  font-family: 'Dosis', sans-serif;
}

#app-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#create-input {
  width: 225px;
}

table {
  margin-top: 20px;
}

table th {
  width: 200px;
  font-size: 18px;
}

.todo-task {
  color: red;
  cursor: pointer;
}

.is-completed {
  color: #58d65d;
}

.save-button {
  display: none;
}

.cancel-button {
  display: none;
}

.error-message {
  background: red;
  color: white;
  display: none;
  width: 230px;
  margin-left: 375px;

}
